@view-transition {
    navigation: auto;
}

body {
    background: url(/img/2024-brick-background2.jpg) repeat;

    --e-global-color-primary: #009CEE;
    --e-global-color-secondary: #FFB400;
    --e-global-color-text: #2A2A2A;
    --e-global-color-accent: #FF6261;
    --e-global-color-fb78e7d: #FDFBF2;
    --e-global-color-15ef1d3: #FFFFFF;
    --e-global-color-481e2a1: #13495D;
    --e-global-color-7ff8c7e: #FFB400;
    --e-global-color-b59cf79: #00C380;
    --e-global-color-90f614b: #009CEE;
    --e-global-color-dfd7c75: #007E83;
    --e-global-typography-primary-font-family: "degular";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "degular";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "degular";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "degular";
    --e-global-typography-accent-font-weight: 500;
    font-family: "degular", Sans-serif;
    font-size: 23px;
    line-height: 1.6em;
}

h1 {
    font-family: degular, sans-serf;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-family: degular, sans-serif;
    font-size: 38px;
    font-weight: 600;
}

#content {
  text-align: center;  
  color: white;
}

.day {
width: 100px;
height: 100px;
z-index: 1;
text-align: center;
}

.header {  
  display: flex;
  align-items: center;
  background-color: #8e181b;
  padding:20px;
}

.header h1 {
  color: white;
}

.entry-content {
  display: inline-block;
  margin-top:13px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom:13px;
  padding: 30px;
  color: black;
  border-radius: 10px;
  background-color: whitesmoke;
}

.collect-sticker {
  text-align: center;
}

div#zoom {
  position: fixed;
  top: 10px;
  left: 10px;
}

.stencil-overlay {
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: width 1s ease, height 1s ease, opacity 0s 1s; /* delay opacity change on transition */
    opacity: 0; /* Hide the stencil by default */
}

.stencil-overlay.active {
    width: 3000px !important;
    height: 3000px !important;
    transition: width 1s ease, height 1s ease, opacity 0s;   
    opacity: 1; /* Make it visible during the transition */       
}

.lego-brick {
    display: inline-block;
}

.lego-brick-used, 
.lego-brick-used .stud {
    border-color: darkred !important;
    color: darkred!important;
}

.lego-brick-inactive, 
.lego-brick-inactive .stud {
    border-color: gray !important;
    color: gray!important;
    pointer-events: none;
    cursor: default;
}

a:link.lego-brick,
a:hover.lego-brick,
a:active.lego-brick,
a:visited.lego-brick {
    text-decoration: none;
}

/* Container for the LEGO brick */
        .lego-brick {
            border-radius: 5px; /* Slight rounding for a more realistic shape */
            position: relative; /* To position the studs */
            
        }
        .lego-brick-3x1 {
            width: 158px; /* Width of the brick */
            height: 60px; /* Height of the brick */
            border: 2px dashed #FFF;
        }
        .lego-brick-2x1 {
            width: 105px; /* Width of the brick */
            height: 60px; /* Height of the brick */
            border: 2px solid #FFF;
            border-spacing: 5px;
        }


        .stud {            
            height: 10px;
            border-radius: 2px; /* Make it circular */
            position: absolute; /* Position it relative to the brick */
            top: -10px; /* Position to appear above the brick */
            border: 2px solid #FFF;
            border-bottom: none;
        }

        .lego-brick-4x1 .stud {
            width: 20%; /* Diameter of the stud */
        }

        /* Positioning each stud */
        .lego-brick-4x1 .stud:nth-child(1) { left: 5%; }
        .lego-brick-4x1 .stud:nth-child(2) { left: 28.75%; }
        .lego-brick-4x1 .stud:nth-child(3) { left: 52.5%; }        
        .lego-brick-4x1 .stud:nth-child(4) { left: 76.25%; }

        .lego-brick-3x1 .stud {
            width: 24%; /* Diameter of the stud */
        }

        /* Positioning each stud */
        .lego-brick-3x1 .stud:nth-child(1) { left: 6%; }
        .lego-brick-3x1 .stud:nth-child(2) { left: 38%; } 
        .lego-brick-3x1 .stud:nth-child(3) { left: 70%; }

        .lego-brick-2x1 .stud {
            width: 35%; /* Diameter of the stud */
        }

        /* Positioning each stud */
        .lego-brick-2x1 .stud:nth-child(1) { left: 10%; }
        .lego-brick-2x1 .stud:nth-child(2) { left: 55%; }        


.brick-collection .lego-brick {
    color: white;
    font-family: degular, sans-serif;
    font-size: 48px;
    font-weight: 800;
    font-weight: bold;
    line-height: 55px;
}

.brick-collection {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    background-color:#C53536;
}


.sticker {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    cursor: move;
    display: none;
}
.sticker img, .sticker-for-collection img {
    max-width: 200px;
}

.sticker.flipped {
    transform: scaleX(-1.0);
}

.sticker-for-collection {
    filter: drop-shadow(5px 5px 10px #555B);
}

.stable-bg {
    width: 1000px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }


.red-heading {
    color: darkred;
}

.sticker-collection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticker-arrow {
    position: relative;
    background-color: white;
    width: 50%;
    left:20%;
    height: 5vw;
}

.sticker-arrow::after {
    content: '';
    display: flex;
    position: absolute;
    align-self: center;
    left: 98%;
    top: -25%;
    width: 0;
    height: 0;
    border: 4vw solid transparent;
    border-left: 4vw solid white;
    z-index: 2;
}

.sticker-circle {
    position: relative;
    padding: 10%;
    background-color: white;
    border-radius: 50%;
}

.nativity-container {
    overflow: hidden;
}