@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@view-transition {
    navigation: auto;
}

body {
    background: url('/img/brick.jpg') repeat;
    background-size: 117px 72px; /* Width and height of each tile in pixels */
    --e-global-color-primary: #009CEE;
    --e-global-color-secondary: #FFB400;
    --e-global-color-text: #2A2A2A;
    --e-global-color-accent: #FF6261;
    --e-global-color-fb78e7d: #FDFBF2;
    --e-global-color-15ef1d3: #FFFFFF;
    --e-global-color-481e2a1: #13495D;
    --e-global-color-7ff8c7e: #FFB400;
    --e-global-color-b59cf79: #00C380;
    --e-global-color-90f614b: #009CEE;
    --e-global-color-dfd7c75: #007E83;
    --e-global-typography-primary-font-family: "degular";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "degular";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "degular";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "degular";
    --e-global-typography-accent-font-weight: 500;
    font-family: "degular", Sans-serif;
    font-size: 23px;
    line-height: 1.6em;
}

h1 {
    font-family: degular, sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: white;
}

h2 {
    font-family: degular, sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: white;
}

#content {
    margin-top: 20px;
    margin: 20px auto;
  text-align: center;  
  color: white;
}

.logo {
    width: 450px;
    padding: 10px;
}

.logo-mobile {
    width: 200px;
    padding: 10px;
}
.fik-logo {
    height: 50px;
}

.day {
width: 100px;
height: 100px;
background-color: rgba(0, 0, 0, 0.48);
margin: 10px;
z-index: 1;
text-align: center;
}


/*    */

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/img/bg.png') no-repeat center center;
    background-size: cover;
    z-index: -2;
  }
  
  
  .container.entry-content-home {
    position: relative;
    z-index: 1; /* Ensure content is above both background and brick overlay */
  }


  
/* New Header */

.header {
    position: relative;
    padding: 0 10px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Ensures left, center, and right layout */
    align-items: center;
  }
  
  .logo-container {
    position: absolute;
    left: 50%; /* Center the logo horizontally */
    transform: translateX(-50%);
  }
  
  .logo {
  }
  
  /* Faith in Kids Button Styling */
  .btn-faithinkids {
    background-color: #009CEE;
    color: white;
    border: 2px solid #009CEE;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  .btn-faithinkids:hover {
    background-color: #4089b1;
    color: #fff;
  }
  
  .mobile-faith-icon {
    height: 40px;
    width: auto;
  }
  
  .fas {
    font-size: 1rem; /* Icon size */
  }
  
  /* Mobile-Specific Styling */
  @media (max-width: 768px) {
    .header {
      justify-content: space-between; /* Keep left and right content separated */
      font-size: 15px;
    }
  
    .logo-container {
      position: static; /* Allow the logo to align naturally */
      margin-right: auto; /* Logo stays left */
    }
  
    .btn-faithinkids {
      display: none; /* Hide full button on mobile */
    }
  
    .mobile-faith-icon {
      display: block; /* Show Faith in Kids icon on mobile */
    }
    .header {
        padding: 10px;
      }
  }
  
  /* Desktop-Specific Styling */
  @media (min-width: 768px) {
    .mobile-faith-icon {
      display: none; /* Hide icon-only button on desktop */
    }
  
    .btn-faithinkids {
      display: inline-flex; /* Show full button on desktop */
      align-items: center;
    }


  }
 
.header h1 {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.entry-content {
  display: inline-block;
  padding: 100px;
  color: black;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: whitesmoke;
}

.entry-content-home {
    display: inline-block;
    color: black;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .entry-content-sticker {
    display: inline-block;
    color: black;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: fixed; /* Fixes the element to a specific position */
    bottom: 10px; /* Distance from the bottom of the viewport */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Corrects horizontal centering by offsetting 50% of its own width */
    background-color: white; /* Optional: Ensure visibility */
    width: auto;
    z-index: 1000; /* Ensure it stays above other elements */
}

.entry-content-sticker h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: black;
}

.entry-content-sticker p {
    font-size: .6em;
    margin: 0;
    padding: 0;
}

/* Default for desktop */
#stickerbookframe {
    width: 100%;
    height: 1000px; /* Fixed height for desktop */
  }
  
  /* Mobile/Tablet Styles (Up to 768px) */
  @media (max-width: 768px) {
    #stickerbookframe {
      height: 100vh; /* Full viewport height for mobile/tablet */
    }
  }
  


@media (max-width: 768px) {
    .entry-content {
        padding: 20px;
      }
  } 

.collect-sticker {
    color: white;
}

div#zoom {
  position: fixed;
  top: 10px;
  left: 10px;
}

.stencil-overlay {
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: width 1s ease, height 1s ease, opacity 0s 1s; /* delay opacity change on transition */
    opacity: 0; /* Hide the stencil by default */
}

.stencil-overlay.active {
    width: 3000px !important;
    height: 3000px !important;
    transition: width 1s ease, height 1s ease, opacity 0s;   
    opacity: 1; /* Make it visible during the transition */       
}

.lego-brick {
  display: inline-block;
}

.lego-brick-used, 
.lego-brick-used .stud {
  border-color: darkred !important;
  color: darkred!important;
}

.lego-brick-inactive, 
.lego-brick-inactive .stud {
  border-color: gray !important;
  color: gray!important;
  pointer-events: none;
  cursor: default;
}

a:link.lego-brick,
a:hover.lego-brick,
a:active.lego-brick,
a:visited.lego-brick {
  text-decoration: none;
}

/* Container for the LEGO brick */
      .lego-brick {
          width: 106px;
          border-radius: 5px; /* Slight rounding for a more realistic shape */
          position: relative; /* To position the studs */
          height: 60px; /* Height of the brick */
          border: 2px dashed #ffffff8a;
          border-spacing: 5px;
      }

      .stud {            
          height: 10px;
          border-radius: 2px; /* Make it circular */
          position: absolute; /* Position it relative to the brick */
          top: -10px; /* Position to appear above the brick */
          border: 2px dashed #ffffff8a;
          border-bottom: none;
      }

      .lego-brick-4x1 .stud {
          width: 20%; /* Diameter of the stud */
      }

      /* Positioning each stud */
      .lego-brick-4x1 .stud:nth-child(1) { left: 5%; }
      .lego-brick-4x1 .stud:nth-child(2) { left: 28.75%; }
      .lego-brick-4x1 .stud:nth-child(3) { left: 52.5%; }        
      .lego-brick-4x1 .stud:nth-child(4) { left: 76.25%; }

      .lego-brick-3x1 .stud {
          width: 24%; /* Diameter of the stud */
      }

      /* Positioning each stud */
      .lego-brick-3x1 .stud:nth-child(1) { left: 6%; }
      .lego-brick-3x1 .stud:nth-child(2) { left: 38%; } 
      .lego-brick-3x1 .stud:nth-child(3) { left: 70%; }

      .lego-brick-2x1 .stud {
          width: 35%; /* Diameter of the stud */
      }

      /* Positioning each stud */
      .lego-brick-2x1 .stud:nth-child(1) { left: 10%; }
      .lego-brick-2x1 .stud:nth-child(2) { left: 55%; }        


.brick-collection .lego-brick {
  color: white;
  font-family: degular, sans-serif;
  font-size: 48px;
  font-weight: 800;
  font-weight: bold;
  line-height: 55px;
}

.brick-collection {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
}


.sticker {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    cursor: move;
    display: none;
}
.sticker img, .sticker-for-collection img {
    max-width: 200px;
}

.sticker.flipped {
    transform: scaleX(-1.0);
}

.sticker-for-collection {
    filter: drop-shadow(5px 5px 10px #555B);
}

#stable {
    width: 700px;
    margin: 0 auto;
}
.stable-bg {
    width: 700px;
}

@media (max-width: 768px) {
    #stable {
        width: 100%;
        margin: 0 auto;
    }
    .stable-bg {
        width: 100%;
    }
  } 

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

.home-heading {
    background: url('/img/title-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin: 0 auto;
}

.red-heading {
    color: white;
    font-size: 1em;
    padding: 50px 10px;
    width: 600px;
    margin: 0 auto;
}

.body-text {
    text-align: left;
    font-size: .8em;
    line-height: normal;
}



h3 {
    font-size: 1em;
}

/* Sticker */
.sticker-collection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sticker-text-container {
  margin-right: 1rem;
  text-align: right;
}

.sticker-text {
  font-family: 'Indie Flower', cursive; /* Replace with your preferred font */
  font-size: .8em;
  transform: rotate(-5deg);
  margin: 0;
  white-space: pre-wrap;
}

.sticker-arrow {
  width: 100px; /* Adjust arrow size */
  height: 100px;
  margin: 0 1rem;
}

.sticker-circle {
  position: relative;
  width: 300px;
}

.sticker-circle img {
  width: 100%;
  height: auto;
}


.nativity-container {
    overflow: hidden;
}


/* SCRIPTURE */
    .scripture-container {
      display: flex;
      margin-top: 50px;
      text-align: left;
    }

    .svg-icon {
      width: 60px; /* Adjust as needed */
      height: 60px; /* Adjust as needed */
      margin-right: 10px;
    }

    .scripture {
      font-size: 1.85rem;
      margin: 0;
      color: darkred;
      line-height: normal;
      font-weight: bold;
    }

    .reference {
      font-size: .8em;
      color: #333;
      font-weight: bold;
      margin: 0;
    }

/* Discussion  */
.discussion-container {
  display: flex;
  margin-top: 50px;
  text-align: left;
  font-weight: normal;
}

.png-icon {
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  margin: 10px 20px 0 10px;
}

.discussion {
  font-size: 1.3rem;
  margin: 0;
  line-height: normal;
}

.video-container {
    position:relative;
    /* 16:9 aspect ratio */
    padding-bottom: 56.25%;
}

.advent-video {
    position: absolute;
    top: 0;
    left:0;
    width: 100%; 
    height: 100%;
}


/* Footer */
.footer {
  background-color: #2A2A2A;
  color: white;
}

.footer p {
  font-size: 0.7em;
}

.footer-logo {
  max-width: 250px;
  height: auto;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #00aced; /* Change hover color if needed */
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.alliance-logo {
  max-width: 300px;
  height: auto;
}

hr {
  border-color: #444;
}
