#content {
  width: 5000px;
  height: 4000px;  
  margin-left: 20px;
}

.day {
width: 100px;
height: 100px;
background-color: green;
margin: 10px;
z-index: 1;
text-align: center;
}

.entry-header-block {  
  padding: 50px;
}

.entry-header-red {
  background-color: #e30613;
}

.entry-header-green {
  background-color: #237841;
}

.entry-header-block h1 {
  color: white;
}

.entry-content {
  padding: 10px;
}

div#zoom {
  position: fixed;
  top: 10px;
  left: 10px;
}

.stencil-overlay {
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: width 1s ease, height 1s ease, opacity 0s 1s; /* delay opacity change on transition */
    opacity: 0; /* Hide the stencil by default */
}

.stencil-overlay.active {
    width: 3000px !important;
    height: 3000px !important;
    transition: width 1s ease, height 1s ease, opacity 0s;   
    opacity: 1; /* Make it visible during the transition */       
}


/* Container for the LEGO brick */
        .lego-brick {
            border-radius: 5px; /* Slight rounding for a more realistic shape */
            position: relative; /* To position the studs */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }
        .lego-brick-4x1 {
            width: 210px; /* Width of the brick */
            height: 80px; /* Height of the brick */
            background-color: #e30613; /* LEGO red color */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }
        .lego-brick-2x1 {
            width: 105px; /* Width of the brick */
            height: 80px; /* Height of the brick */
            background-color: #237841; /* LEGO red color */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }

        /* Studs on the LEGO brick */
        .stud {
            width: 20%; /* Diameter of the stud */
            height: 10px;
            background-color: #e30613; /* Same color as the brick */
            border-radius: 2px; /* Make it circular */
            position: absolute; /* Position it relative to the brick */
            top: -8px; /* Position to appear above the brick */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }

        .stud {            
            height: 10px;
            border-radius: 2px; /* Make it circular */
            position: absolute; /* Position it relative to the brick */
            top: -8px; /* Position to appear above the brick */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }

        .lego-brick-4x1 .stud {
            width: 20%; /* Diameter of the stud */
            background-color: #e30613; /* Same color as the brick */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }

        /* Positioning each stud */
        .lego-brick-4x1 .stud:nth-child(1) { left: 5%; }
        .lego-brick-4x1 .stud:nth-child(2) { left: 28.75%; }
        .lego-brick-4x1 .stud:nth-child(3) { left: 52.5%; }        
        .lego-brick-4x1 .stud:nth-child(4) { left: 76.25%; }

        .lego-brick-2x1 .stud {
            width: 35%; /* Diameter of the stud */
            background-color: #237841; /* Same color as the brick */
            box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.2); /* Inner shadow for a 3D effect */
        }

        /* Positioning each stud */
        .lego-brick-2x1 .stud:nth-child(1) { left: 10%; }
        .lego-brick-2x1 .stud:nth-child(2) { left: 55%; }        