---
layout: layouts/stickerbook.njk
permalink: /stickerbook/index.html
---

<div class="container entry-content">
  <a class="btn btn-primary float-end mt-3" href="/">&laquo; Back to calendar</a>

  <h1>Sticker time!</h1>
  <p>Drag and place the stickers you have collected so far.</p>
</div>

<div id="stickers" class="row">
  {% for sticker in post %}
    <div class="sticker" id="sticker-{{sticker.day}}">
      <img src="{{sticker.nativity_figure}}" draggable="false">
    </div>
  {% endfor %}
</div>

<div id="stable">
  <img src="/img/stickers/Stable4.png" class="stable-bg" draggable="false">
</div>