---
layout: layouts/stickerbook.njk
permalink: /stickerbook/index.html
---
<script>
$(document).ready(function() {
  $(window).on('resize', function() {
    const currentWidth = $('#stickerbookframe').parent().width();
    const iframeHeight = $('#stickerbookframe').height();
    const {top: iTop, left: iLeft} = $('#stickerbookframe').position();

    const baseWidth = 2000; // Adjust the base width as needed
    const zoomFactor = currentWidth / baseWidth;


    $('#stickerbookframe').css({
      transform: `scale(${zoomFactor})`,
      width: currentWidth * 1/zoomFactor + "px",
    });

    $('#stickerbookframe').parent().css({
      height: iframeHeight * zoomFactor,
    });


    const { top: newTop, left: newLeft } = $('#stickerbookframe').position();
    const translateX = iLeft - newLeft;
    const translateY = iTop - newTop;

    $('#stickerbookframe').css({
      transform: `translate(${translateX}px, ${translateY}px) scale(${zoomFactor})`,
    })
  });

  // Initial zoom
  $(window).trigger('resize');
});

</script>

<div class="entry-content-sticker">
  <h4>Drag and place the stickers you have collected so far.</h4>
</div>

<div class="nativity-container container" >
  <iframe id="stickerbookframe" width="1000px" height="100%" scrolling="no" src="/stickerbook/frame" />
</div>
