---
permalink: /stickerbook/frame.html
---

{% include "layouts/widget/head.njk" %}
<style>body { background: none; }</style>

<div id="stickers" class="row">
  {% for sticker in post %}
    <div class="sticker" id="sticker-{{sticker.day}}">
      <img src="{{sticker.nativity_figure}}" draggable="false">
    </div>
  {% endfor %}
</div>

<div id="stable">
  <img src="/img/stickers/stable_front.png" class="stable-bg" draggable="false">
</div>

<script>
// self executing function here
$(document).ready(function() {
    initialiseStickerbook();
});
</script>

<audio class="sfx" id="take-sticker1" src="/sfx/take_sticker1.wav"></audio>
<audio class="sfx" id="take-sticker2" src="/sfx/take_sticker2.wav"></audio>
<audio class="sfx" id="drop-sticker" src="/sfx/drop_sticker.wav"></audio>