---
layout: layouts/stickerbook.njk
permalink: /stickerbook/
---

<h1>Sticker time!</h1>
<p>Drag and place the stickers you have collected so far.</p>

<div id="stickers" class="row">
  <div class="sticker" id="sticker-day1-08df67">
    <img src="/img/stickers/Camel1.png" draggable="false">
  </div>
  <div class="sticker" id="sticker-day2-ac423f">
    <img src="/img/stickers/Angel1.png" draggable="false">
  </div>
  <div class="sticker" id="sticker-day3-18aec8">
    <img src="/img/stickers/manger.png" draggable="false">
  </div>
</div>

<div id="stable">
  <img src="/img/stickers/Stable4.png" class="stable-bg" draggable="false">
</div>

<a class="btn btn-primary" href="/">&laquo; Back to calendar</a>