<div id="zoom">
		<button id="zoom-in">+</button>
		<button id="zoom-out">-</button>
	</div>
<div id="content" class="page-content">
<h1>The Christmas Build Up</h1>
	
	<div class="brick-collection">
		<button class="day grow transition-button lego-brick lego-brick-3x1" data-target="day2" data-stencil="#stencil-3x1">
			2
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-3x1" data-target="day13" data-stencil="#stencil-3x1">
			13
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-3x1" data-target="day8" data-stencil="#stencil-3x1">
			8
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-3x1" data-target="day17" data-stencil="#stencil-3x1">
			17
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day1" data-stencil="#stencil-2x1">
			1
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day3" data-stencil="#stencil-2x1">
			3
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day4" data-stencil="#stencil-2x1">
			4
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day5" data-stencil="#stencil-2x1">
			5
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day6" data-stencil="#stencil-2x1">
			6
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-4x1" data-target="day7" data-stencil="#stencil-4x1">
			7
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day9" data-stencil="#stencil-2x1">
			9
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day10" data-stencil="#stencil-2x1">
			10
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day11" data-stencil="#stencil-2x1">
			11
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day12" data-stencil="#stencil-2x1">
			12
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day14" data-stencil="#stencil-2x1">
			14
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day15" data-stencil="#stencil-2x1">
			15
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day16" data-stencil="#stencil-2x1">
			16
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day18" data-stencil="#stencil-2x1">
			18
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day19" data-stencil="#stencil-2x1">
			19
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day20" data-stencil="#stencil-2x1">
			20
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day21" data-stencil="#stencil-2x1">
			21
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day22" data-stencil="#stencil-2x1">
			22
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow brick-23 transition-button lego-brick lego-brick-2x1" data-target="day23" data-stencil="#stencil-2x1">
			23
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>

		<button class="day grow brick-24 transition-button lego-brick lego-brick-2x1" data-target="day24" data-stencil="#stencil-2x1">
			24
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>	
	</div>
</div>

<div class="page-content" id="page2" style="display: none;">
    <div id="page-content-body"></div>

    <button class="transition-button" data-target="#content">Go to Index</button>
</div>

<div class="lego-brick lego-brick-4x1 stencil-overlay" id="stencil-4x1">
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>
</div>

<div class="lego-brick lego-brick-3x1 stencil-overlay" id="stencil-3x1">
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>    
</div>

<div class="lego-brick lego-brick-2x1 stencil-overlay" id="stencil-2x1">
    <div class="stud"></div>
    <div class="stud"></div>    
</div>