<div id="zoom">
		<button id="zoom-in">+</button>
		<button id="zoom-out">-</button>
	</div>
<div id="content" class="page-content">
<h1>The Christmas Build Up</h1>


	<div class="row">
		<button class="day grow transition-button lego-brick lego-brick-3x1" data-target="day1" data-stencil="#stencil-3x1">
			1
			<div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		    <div class="stud"></div>
		</button>
		<button class="day grow transition-button lego-brick lego-brick-2x1" data-target="day2" data-stencil="#stencil-2x1">
			2
			<div class="stud"></div>
		    <div class="stud"></div>
		</button>
		<button class="day transition-button" data-target="day3">3</button>
		<button class="day transition-button" data-target="day4">4</button>
		<button class="day transition-button" data-target="day5">5</button>
		<button class="day transition-button" data-target="day6">6</button>
	</div>
	<div class="row">
		<div class="day">7</div>
		<div class="day">8</div>
		<div class="day">9</div>
		<div class="day">10</div>
		<div class="day">11</div>
		<div class="day">12</div>
	</div>
	<div class="row">
		<div class="day">13</div>
		<div class="day">14</div>
		<div class="day">15</div>
		<div class="day">16</div>
		<div class="day">17</div>
		<div class="day">18</div>
	</div>
	<div class="row">
		<div class="day">19</div>
		<div class="day">20</div>
		<div class="day">21</div>
		<div class="day">22</div>
		<div class="day">23</div>
		<div class="day">24</div>
	</div>
</div>

<div class="page-content" id="page2" style="display: none;">
    <div id="page-content-body"></div>

    <button class="transition-button" data-target="#content">Go to Index</button>
</div>

<div class="lego-brick lego-brick-4x1 stencil-overlay" id="stencil-4x1">
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>
</div>

<div class="lego-brick lego-brick-3x1 stencil-overlay" id="stencil-3x1">
    <div class="stud"></div>
    <div class="stud"></div>
    <div class="stud"></div>    
</div>

<div class="lego-brick lego-brick-2x1 stencil-overlay" id="stencil-2x1">
    <div class="stud"></div>
    <div class="stud"></div>    
</div>