<div style="view-transition-name: day-{{post.day}}">

	<div class="container content-center">

		<div class="row entry-content container text-center">
		{% if post.youtubeId %}
				<div class="video-container" >
					<iframe class="advent-video" width="100%" height="auto" src="https://www.youtube.com/embed/{{post.youtubeId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
		{% elif post.video %}

		{% else %}
			<img class="img-fluid" src="{{post.picture}}"></img>
		{% endif %}

		{% if post.podcast %}
			<div class="p-4">
				<audio controls>
					<source src='https://www.buzzsprout.com/{{post.podcast}}.mp3'>
				</audio>
			</div>
		{% endif %}

			<div class="scripture-container">
				<img src="../../img/bible.svg" alt="Icon" class="svg-icon">
				<div>
					<p class="scripture"> 
						{{ post.scripture | nl2br | safe }}
					</p>
					<p class="reference">
						{{ post.scripture_ref | nl2br | safe }}
					</p>
				</div>
			</div>

			<div class="p-4 body-text">

				{{ post.body | nl2br | safe }}
			</div>
		</div>

		<div class="row text-white sticker-collection pb-4">
			<div class="text-end col-6 col-md-4 offset-md-2">
				<h3>Click to collect your digital sticker and build up your own nativity scene:</h2>
			</div>
			<div class="col-2">
				<div class="sticker-arrow"></div>
			</div>
			<div class="col-4"> 
				<div class="sticker-circle">
					<a href="/stickerbook#{{post.day}}">
						<img class="img-fluid" src="{{ post.nativity_figure }}">
					</a>
				</div>
			</div>
		</div>
	</div>

</div>