      </div>
    </div>
<script src="{{ '/' | url }}css/bs.js"></script>
<script>
</script>

<footer class="footer bg-dark text-white">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <img src="../../img/faith-in-kids-white.webp" alt="Faith in Kids Logo" class="footer-logo">
            </div>
            <div class="col-md-6 text-md-end">
                <div class="social-icons">
                    <a href="https://www.facebook.com/faithinkids/" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
                    <a href="http://twitter.com/FaithinKids" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="https://www.instagram.com/faithinkids/" aria-label="Instagam"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/c/FaithinKids" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <hr>
        
        <div class="row">
            <div class="col-md-8">
                <p>All content © Faith in Kids 2024. Some Images © Go Chatter Media/The Good Book Company 2024.<br />
                Faith in Kids is a registered charity (charity no 1176335).</p>
            </div>
            <div class="col-md-4 text-md-end">
                <p>Member of</p>
                <img src="../../img/member-of-ea.webp" alt="Evangelical Alliance Logo" class="alliance-logo">
            </div>
        </div>
    </div>
</footer>


</body>
</html>