</div>
    </div>
    
    <script src="{{ '/' | url }}css/bs.js"></script>

    <script>
// self executing function here
(function() {
    //initialiseAdvent();
})();
</script>
  </body>
</html>