<!doctype html>
<html lang="{{metadata.language}}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<meta content='{{ title or metadata.title }}' property='og:title'/>
<meta content='{{ title or metadata.title }}' name='facebook:title'/>
<meta content='website' property='og:type'/>
<meta content='/img/icon-192.png' name='facebook:image'/>
<meta content='{{ title or metadata.title }}' property='og:site_name'/>
<meta content='{{ description or metadata.description }}' property='facebook:description'/>
<meta content='/img/icon-192.png' name='twitter:image'/>
<meta content='{{ description or metadata.description }}' name='twitter:description'/>
<meta content='{{ title or metadata.title }} ' name='twitter:title'/>
<meta content='{{ title or metadata.title }}' name='keywords'/>
<link rel="manifest" href="/manifest.json">
<link rel="icon" type="image/x-icon" href="https://www.faithinkids.org/wp-content/uploads/2022/05/cropped-fik-favicon-32x32.png" />
<link href="{{ '/' | url }}css/bs.css" rel="stylesheet" >
<link href="{{ '/' | url }}css/index.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="https://use.typekit.net/mpk7uxy.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">


<script type="text/javascript" src="{{ '/' | url }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ '/' | url }}js/advent.js"></script>
<script type="text/javascript" src="{{ '/' | url }}js/stickerbook.js"></script>
</head>

