---
layout: layouts/base.njk
templateClass: tmpl-home
heading: 'The Christmas Buildup'
---

{{ content | safe }}

<script>
// self executing function here
(function() {
	$("document").ready(function() {
    initialiseAdvent();
	});
})();
</script>