---
layout: layouts/base-stable.njk
templateClass: tmpl-home
---
{{ content | safe }}


<audio class="sfx" id="take-sticker1" src="/sfx/take_sticker1.wav"></audio>
<audio class="sfx" id="take-sticker2" src="/sfx/take_sticker2.wav"></audio>
<audio class="sfx" id="drop-sticker" src="/sfx/drop_sticker.wav"></audio>
